.elm-center-text{
  width: 90%;
  max-width: 500px;
  margin: 50px auto;
}

.elm-btn-large{
  display: block;
  width: 100%;
  margin: 80px 0;
  font-size: x-large;
  color: rgba(255,255,255,.92);
  border: none;
  outline: none;
}

.elm-btn-instructions{
  height: 2.5em;
  background: #939;
}

.elm-btn-play{
  height: 5em;
  background: #393;
}

.elm-card{
  position: absolute;
  height: 12vh;
  width: 12vh;
  transform: translate(-6vh,-6vh);
  border-radius: 6vh;
  transition: top 1s, left 1s;
}

.elm-card-selected{
  height: 16vh;
  width: 16vh;
  transform: translate(-8vh,-8vh);
  border-radius: 8vh;
}

.elm-card-fadeout{
  opacity: 0;
  transition: opacity .7s;
  transition-delay: 1.3s;
}

.elm-fullscreen-background{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
}
